footer {
  font-size: var(--body-font-size-xxs);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

footer a:any-link {
  color: var(--color-gray-700);
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: var(--color-gray-500);
}

.footer-wrapper {
  flex-shrink: 0; 
  box-sizing: border-box;
  margin: auto;
  padding: 0 23px;
  max-width: 1440px;
  width: 100%;
}
/* NAV GRID */
.footer-nav-grid {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .footer-nav-grid {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .footer-nav-column {
    width: 100%;
  }

  .footer-nav-column:not(:last-child) {
    margin-right: 1rem;
  }
}

.footer-nav-item {
  border-top: 1px solid var(--color-gray-500);
}

.footer-nav-grid > .footer-nav-column:last-of-type .footer-nav-item {
  border-bottom: 1px solid var(--color-gray-500);
}

@media (min-width: 900px) {
  .footer-nav-item,
  .footer-nav-grid > .footer-nav-column:last-of-type .footer-nav-item {
    border: 0;
  }
}

.footer-nav-item-title {
  margin: 6px 0;
  color: var(--color-gray-700);
  padding: 8px 0;
  font-size: var(--heading-font-size-xxs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.footer-nav-item-title[aria-expanded=false]::after {
  content: '\2228';
}

.footer-nav-item-title[aria-expanded=true]::after {
  content: '\2227';
}

@media (min-width: 900px) {
  .footer-nav-item-title::after {
    visibility: hidden;
    display: none;
  }
}

.footer-nav-item-title:hover,
.footer-nav-item-title:focus {
  color: var(--color-gray-500);
}

@media (min-width: 900px) {
  .footer-nav-item-title:hover,
  .footer-nav-item-title:focus {
    color: var(--color-gray-700);
    cursor: auto;
  }
}

.footer-nav-item-title[aria-expanded=false] + .footer-nav-item-links {
  visibility: hidden;
  display: none;
}

.footer-nav-item-title[aria-expanded=true] + .footer-nav-item-links {
  visibility: visible;
}

.footer-nav-item-links {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.footer-nav-item-link a {
  display: block;
  text-decoration: none;
  padding: 3px 0;
}

/* FOOTER INFO ROW */
.footer-info {
  margin-top: 1rem;
}

.footer-info.has-social > .footer-info-column:first-of-type {
  display: flex;
  align-items: baseline;
}

@media (min-width: 900px) {
  .footer-info {
    display: flex;
  }

  .footer-info.has-privacy:not(.has-region):not(.has-social) {
    justify-content: end;
  }

  .footer-info.has-social.has-privacy {
    justify-content: space-between;
    align-items: center;
  }
}


/* SOCIAL ICONS */
.footer-social {
  position: relative;
}

.footer-social-icons {
  list-style-type: none;
  padding: 0;
}

.footer-social-icon {
  display: inline;
  margin-bottom: 6px;
}

.footer-social-icon:hover {
  opacity: 0.8;
}

.footer-social-icon:not(:last-of-type) {
  margin-right: 18px;
}

.footer-social-img {
  width: 18px;
}

/* PRIVACY INFO */
.footer-privacy {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .footer-privacy {
    flex-direction: row;
  }
}

/* COPYRIGHT */
.footer-privacy-copyright {
  font-weight: var(--body-font-weight);
  margin-top: 0;
  margin-bottom: 9px;
  line-height: 1;
}

@media (min-width: 1200px) {
  .footer-privacy-copyright::after {
    content: '/';
    margin-left: 6px;
    margin-right: 6px;
  }
}

/* PRIVACY LINKS */
.footer-privacy-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.footer-privacy-link {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
}

.footer-privacy-link img {
  height: 9px;
  width: 9px;
  margin-right: 3px;
}

.footer-privacy-link:not(:last-child)::after {
  content: '/';
  margin-left: 6px;
}
